body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.respNavBar {
    display: block;
  overflow: hidden;
  background-color: rgb(37, 157, 194);
}

.respNavBar a {
  float: left;
  display: block;
  color: #d11c1c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.respNavBar a:hover {
  background-color: rgb(194, 180, 180);
  color: black;
}

.respNavBar a.active {
  background-color: #16bd80;
  color: white;
}

.respNavBar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .respNavBar a:not(:first-child) {display: none;}
  .respNavBar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .respNavBar.responsive {position: relative;}
  .respNavBar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .respNavBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}